<div class="container-fluid">
<h1>Tarefas da Equipe</h1>
<table class="table col-md-10">
  <thead>
    <tr>
      <th scope="col">codigo</th>
      <th scope="col">Nome</th>
      <th scope="col">Tarefa</th>
      <th scope="col">Concluído</th>
      <th scope="col">Conclusão</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of members" class="table-primary">
        <td>{{member.id}}</td>
        <td>{{member.name}}</td>
        <td>{{member.task.desc}}</td>
        <td>{{member.task.percent}}%</td>
        <td>{{member.task.deadline}}</td>    
    </tr>
  </tbody>
</table>
</div>