<h2>Membro da equipe</h2>
<!--div><strong>Nome: </strong><label>{{membros[1].name}}</label></div>
<div><strong>Tarefa: </strong><label>{{membros[1].task.desc}}</label></div>
<div><strong>Data de entrega: </strong><label>{{membros[1].task.deadline}}</label></div>
<div><strong>Percentual de conclusão:</strong></div>
<div><label>
{{membros[1].task.percent}}
  <div class="progress-bar">
    <div [ngStyle]="{'width.%':membros[1].task.percent}" class="progresso"></div>
  </div>
</label></div-->

<div class="card col-md-10">
  <h5 class="card-header"><strong>Nome: </strong><label>{{membros[1].name}}</label></h5>
  <div class="card-body">
    <h5 class="card-title"><strong>Tarefa: </strong><label>{{membros[1].task.desc}}</label></h5>
    <p class="card-text"><strong>Data de entrega: </strong><label>{{membros[1].task.deadline}}</label></p>
    <p class="card-text"><strong>Percentual de conclusão:</strong></p>
    <label>
{{membros[1].task.percent}}%
  <div class="progress-bar">
    <div [ngStyle]="{'width.%':membros[1].task.percent}" class="progresso"></div>
  </div>
</label>
  </div>
</div>