<h2>Criar novo Projeto</h2>
<div class="container col-md-9">
<form>
  <div class="form-group">
		<label>Nome do Projeto</label>
		<input type="text" name="nome" class="form-control">
	</div>
  <div class="form-group">
		<label>Data prevista de entrefa</label>
		<input type="date" name="data" class="form-control">
	</div>
  <div class="form-group">
		<label>Contrato</label>
		<input type="file" name="contrato" class="form-control">
	</div>
  <div class="form-group">
		<label>Cliente</label>
		<input type="text" name="cliente" class="form-control">
	</div>
  <div class="form-group">
		<label>Equipe</label>
		<select  multiple name="equipe" class="form-control">
    <option value="valor1">Paulo</option>
    <option value="valor1">Joao</option>
    <option value="valor1">Maria</option>
    <option value="valor1">Rafaela</option>    
    </select>
	</div>
</form>
</div>